* {
    box-sizing: border-box;
    margin: 0;
}

/* followed a figma design file for the styling */

/* using flexbox to keep the card centered */
#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #23252C;
    overflow-y: auto;
}

.card {
    max-width: 50%;
    max-height: 90%; 
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

.info {
    background: #1A1B21;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.info--profile {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
}

/* using min() and max() mehtods to scale
the content as the viewport grows and shrinks 
in multiple places from here on */

.info--name {
    font-size: min(max(4vw),30px);
    margin-bottom: 2.5px;
}

.info--title {
    font-weight: 400;
    font-size: min(max(2vw), 15px);
    color: #F3BF99;
    margin-bottom: 15px;
}

.info--email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: min(max(37.5vw), 300px);
    height: min(max(5vw), 40px);
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-weight: 500;
    font-size: min(max(2.25vw), 15px);
    color: #374151;
    margin-bottom: 40px;
}

.info--email > img {
    width: min(max(2vw), 12.5px);
}

.about, .interests {
    background: #1A1B21;
    max-width: 400px;
    padding: 0 12.5% 7.5%
}

.about > h2, .interests > h2 {
    font-size: min(max(3vw), 22.5px);
    margin-bottom: 5px;
}

.about > p, .interests > p {
    font-size: min(max(1.8vw), 12px);
}

/* made a container for the footer so I
 could make an empty div under the footer so 
 there would be a gap between the card and the
 end of the viewport. */

.footer-container {
    height: 8.5%;
}

.footer {
    background: #161619;
    max-width: 400px;
    border-radius: 0 0 10px 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer > a > img {
    width: min(max(4.5vw), 30px);
}

.fullscreen-padding {
    height: 30px;
}